
body {
	text-align:center;
	margin:0;
	padding: 20px;
	background-color:#d9d8d8;
}

#color {
	height:100%;
	width: 100%;
	background-color: red;
	display: none;
}

.headerimg {
	margin-bottom:2em;
}

#canvas {
	display: none;
}
#save_image {
	display: none;
}
#dialog-confirm { display: none; }
#text-add { display: none; }

#image_add { display: none;
	border-style:solid;
	border-width:1px;
	border-color: black;
	width: 100px; }


#h1wrapper {
	width:338px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom:12px;
}

#wrapper h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:32pt;
	margin-bottom: 4%;
	color: #9a9898;
	font-weight: bold;
}


#output {
	background-color:#fafafa;
	border:1px solid #9a9898;
	box-shadow: 0 0 10px #888;
	width:100%;
	min-height:90%;
	overflow: hidden;
}

#slider {
	margin-top:-32px;
	margin-left:12px;
	margin-right:12px;
	z-index:2000;
}

#wrapper {
    text-align: center;
    width: 100%;
}
#pop, #use {
    display: inline-block;    
    padding: 20px;   
}


.trackgrid {
	display:block;
	text-align: center;
}

.gridtrack {
	display:block;
	float:left;
	margin:6px;
	border:1px solid #888;
	box-shadow:0 0 10px #888;
}

.gridrow {
	width:100%;
	padding: 0 8px;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18pt;
	margin-bottom: 4%;
	color: #9a9898;
	font-weight: bold;
}

