#color {
	height:100%;
	width: 100%;
	min-height: 100px;
	min-width: 100px;
	background-color: red;
	position: absolute;
	display: none;
}
#hate {
	font-family: 'Stalemate', cursive;
	font-size: 70px;
}
#wrapper {
	position: absolute;
	background-color: none;
}

.drawable {
	position:absolute;
	/*opacity:0;*/
	color:#000;
}

#canvas {
	display: none;
}
#output {
	width:600;
	height:400;
}

function addOpacityTween(obj) {
	
	$('#'+obj.id).tween({
		opacity: {
			start: 0,
			stop: 100,
			time: 0,
			duration: obj.duration,
			effect: obj.easeType
		}
	}).tween({
		opacity: {
			start: 100,
			stop: 0,
			time: obj.length + obj.duration,
			duration: obj.duration,
			effect: obj.easeType
		}
	});
}